body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #82e7f5;
  background: linear-gradient(
    0deg,
    rgba(130, 231, 245, 1) 1%,
    rgba(153, 227, 237, 1) 39%,
    rgba(224, 247, 250, 1) 80%
  );
  font-family: sans-serif;
}

#score {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}
#finalScore {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: lighter;
}
canvas {
  width: 90vmin;
  height: 90vmin;
  max-width: 600px;
  max-height: 600px;
  border: 2px solid black;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.message-box {
  background: white;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.hidden {
  display: none;
}

#restartBtn,
#returnToMenu {
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#restartBtn:hover,
#returnToMenu:hover {
  background-color: #45a049;
}

#restartBtn:active,
#returnToMenu:active {
  transform: scale(0.98);
}
#scoreBoard {
  margin-bottom: 10px;
  text-align: center;
  background: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: #333;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border: 2px solid #333;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 10;
}

#menu h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

#menu button {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#menu button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
