body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f0f0f0; */
  background: #2A7B9B;
/* background: linear-gradient(52deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */
background: linear-gradient(
  52deg,
  rgba(42, 123, 155, 0.8) 0%,       /* Softer teal-blue */
  rgba(87, 199, 133, 0.75) 50%,     /* Milder green */
  rgba(237, 221, 83, 0.7) 100%      /* Less harsh yellow */
  
);
  background: linear-gradient(135deg, #e0f7fa, #99e3ed);


  font-family: sans-serif;
}

#score {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}
#finalScore {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: lighter;
}
canvas {
  width: 90vmin;
  height: 90vmin;
  max-width: 600px;
  max-height: 600px;

  border: 2px solid black;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;  
}

.message-box {
  background: white;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.hidden {
  display: none;
}

#restartBtn {
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#restartBtn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#restartBtn:active {
  transform: scale(0.98);
}
#scoreBoard {
  margin-bottom: 10px;
  text-align: center;
  background: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: #333;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}


